streamlit
requests
pandas
Flask
Flask-Cors
Flask-JWT-Extended
Flask-SQLAlchemy
bcrypt
bleach
python-dotenv
gunicorn
flask
flask-sqlalchemy
flask-cors
flask-jwt-extended
bcrypt
bleach
python-dotenv
gunicorn
